* {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(33, 71, 33, 0.788);
    padding: 70px;
}

.heading {
    text-align: center;
    font-size: 30px;
}

.msg {
    text-align: center;
    color: yellow;
    font: bold;
    font-size: 20px;
    margin: 10px 5px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    height: 70vmin;

}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
}

.box {
    height: 15vmin;
    width: 15vmin;
    background: rgb(252, 243, 145);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vmin;
    font: bold;
    border: none;
    border-radius: 1rem;
    box-shadow: 1rem;
    color: red;


}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.reset-button {
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 1rem;
    background: #000;
    color: white;
    font-weight: bold;
    margin: 10px 0px;
    width: 200px;
    margin: 5px 10px;
}

.new-game {
    font-size: 24px;
    border-radius: 1rem;
    padding: 10px 20px;
    background: #000;
    color: white;
    font-weight: bold;
    width: 200px;


}